/* landin page css */

img{
    width: 100%;
}
#landing_page{
    background-color: #202743;
    color: white;
    background-image: url("svg/waves.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
} 
.landing_page_content{
    margin-top: 11vh;
    margin-bottom: 15vh;
}
.arrow_class{
    padding-bottom: 8vh;
}
.landing_para{
    text-align: right;
    font-size: 1.75em;
    font-weight: 350;
}
.landing_head{
    text-align: right;
    font-size: 4.70em;
    padding-bottom: 2vh;
}
#navbaritems a{
    font-size: 1.15em;
    color : white;
    padding-left: 2em;
}
.nav_div{
    padding-top: 3vh;
}

/* our focus page */
.binocularimage{
    max-height: 10vh;
    margin-bottom: 5vh;
}
.binoculardiv{
    margin-top: 15vh;
}
.ourfocusheading{
    margin-bottom: 3vh;
    font-size: 3.5em;
    font-weight: 475;
}
.ourfocuspara{
    text-align: center;
    margin-bottom: 20vh;
    font-size: 1.20em;
    font-weight: 375;
}

/* Student partnership css */

#student_partnerships{
    background-color: #202743;
    color: white;
}
.partner_head{
    margin-top: 9vh;
    margin-bottom: 5vh;
}
.partner_headingtag{
    font-size: 3em;
}
.msa_image{
    height: 125px;
    width: 125px;
}
.partner_row2{
    padding-bottom: 8vh;
}
.partners_para{
    font-size: 1.15em;
    text-align: center;
    padding-bottom: 5vh;
    font-weight: 350;
}
.snapchat_image{
    height: 125px;
    width: 125px;
}
.amazon_div{
    padding-right: 5em;
}

/* about app css */

#about_app{
    background-color: #13137a;
}
.appimage{
    height: 100%;
}
.aboutappclass{
    margin-top: 20vh;
    color: white;
}
.aboutappimageclass{
    margin-top: 10vh;
    height: 60vh;
    margin-bottom: 7vh;
}
.gplayimag{
    max-height: 15vh;
    max-width: 15vh;
}
.qrimage{
    max-height: 15vh;
    max-width: 15vh;
}
.aboutappheading{
    font-size: 2.25em;
    padding-bottom: 2vh;
    font-weight: 400;
}
.anoutapppara{
    font-size: 1.20em;
    font-weight: 350;
    padding-bottom: 5vh;
}

@media only screen and (max-width: 768px) {
    /* landin page css */
    #landingpage_first {
        order: 2;
    }
    #landingpage_second {
        order: 4;
    }
    .landing_head{
        text-align: center;
        font-size: 2.5em;
        padding-bottom: 2vh;
    }
    .landing_para{
        text-align: center;
        font-size: 1.25em;
        font-weight: 300;
        padding-bottom: 5vh;
    }
    .landing_page_content{
        margin-top: 5vh;
        margin-bottom: 10vh;
    }
    .nav_div{
        padding-top: 1vh;
    }
    .arrow_class{
        padding-bottom: 5vh;
    }
    #landing_page{
        background-image: url("");
      } 

    /* our focus page */
    .binoculardiv{
        margin-top: 10vh;
    }
    .ourfocuspara{
        margin-bottom: 15vh;
        
    }  

      /* Student partnership css  */
    .partners_para{
        font-size: 1.15em;
        text-align: center;
        padding-bottom: 5vh;
        font-weight: 350;
    }
    .partner_headingtag{
        font-size: 2.10em;
    }
    /* about app css */
    .aboutappheading{
        text-align: center;
        font-size: 2em;
        padding-bottom: 2vh;
        font-weight: 400;
    }
    .aboutappclass{
        margin-top: 7vh;
        color: white;
    }
    .anoutapppara{
        text-align: center;
        font-size: 1.20em;
        font-weight: 300;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }
    .qrimage{
        margin-top: 3vh;
    }
    .aboutappimageclass{
        margin-top: 5vh;
        height: 60vh;
        margin-bottom: 7vh;
    }
}